html, body {
    height: 100%;
}
ul, li, div, p {
    list-style: none;
    padding: 0;
    margin: 0;
}
button, input {
    position: absolute;
    left: 10px;
    z-index: 100000;
    outline: none;
    border: none;
    background: white;
    font-size: 14px;
}
.btn_handler_box {
    position: absolute;
    bottom: 20%;
    left: 10px;
    z-index: 100000;
}
.btn_handler_box li {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
    line-height: 32px;
    font-size: 20px;
    font-weight: bold;
    color: #704214;
}
.btn_handler_box li:last-child {
    border: 1px solid rgb(51, 136, 255);
    margin-bottom: 0;
}
.whiteBtn {
    background: url("../img/icon-1.png") no-repeat center #ffffff;
    background-size: 32px 32px;
}
.greenBtn {
    background: url("../img/icon-2.png") no-repeat center #ffffff;
    background-size: 32px 32px;
}
.blueBtn {
    background: url("../img/icon-3.png") no-repeat center #ffffff;
    background-size: 32px 32px;
}
.redBtn {
    background: url("../img/icon-4.png") no-repeat center #ffffff;
    background-size: 32px 32px;
}
.green-marker, .blue-marker, .red-marker {
    width: 32px!important;
    height: 32px!important;
}
.green-marker p, .blue-marker p, .red-marker p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 32px;
}
.green-marker {
    background: url("../img/icon-2.png") no-repeat center;
    background-size: 32px 32px;
}
.blue-marker {
    background: url("../img/icon-3.png") no-repeat center;
    background-size: 32px 32px;
}
.red-marker {
    background: url("../img/icon-4.png") no-repeat center;
    background-size: 32px 32px;
}
.iptSearch {
    width: calc(100% - 130px);
    padding-left: 25px;
    padding-right: 10px;
    top: 10px;
    line-height: 36px;
    box-shadow: 0px 0px 14px -1px #c8c8c8;
    background: url("../img/search.png") no-repeat 5px center #ffffff;
}
.filterBtn {
    position: absolute;
    width: 55px;
    right: 10px;
    top: 10px;
    height: 36px;
    box-shadow: 0px 0px 14px -1px #c8c8c8;
    padding-left: 10px;
    padding-right: 5px;
    line-height: 36px;
    z-index: 100000;
    font-size: 14px;
    text-align: center;
    background: url("../img/map_near_left.png") no-repeat 5px center #ffffff;
    background-size: 14px; 
}
.filterBtn span {
    position: relative;
}
.icon-arrow {
    position: absolute;
    right: -13px;
    width: 0px;
    height: 0px;
    border-top: 5px solid grey;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 8px;
}
.custom-mask {
    background: rgba(0,0,0,.3);
    position: fixed;
    z-index: 100001;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    visibility: hidden;
}

.custom-mask.custom-mask--visible {
    opacity: 1;
    visibility: visible;
}

.custom-container {
    width: 100px;
    text-align: center;
    color: #333333;
    line-height: 32px;
    background: transparent;
    z-index: 100001;
    position: absolute;
    font-size: 14px;
    right: 0;
    top: 46px;
    height: auto;
    overflow: hidden;
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
}
.custom-container.custom-container--visible {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
}

.custom-container li {
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    display: none;
}

.custom-container li.active {
    display: block;
}

.custom-container li:last-child {
    border-bottom: none;
}