.check_title {
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    z-index: 100000;
    /* width: 100%; */
    /* text-align: center; */
    color: #3296FA;
    font-size: 13px;
    display: none;
    box-sizing: border-box;
    padding-left: 15px;
    height: 32px;
    line-height: 30px;
    border: 1px solid rgba(50, 150, 250, 1);
    background: rgba(222, 239, 255, 0.63);
    border-radius: 2px;
}
.check_title .clear-txt {
    float: right;
    display: block;
    width: 44px;
    height: 30px;
    background: url(../img/clear.png) center no-repeat;
    background-size: 13px 13px;
}
.btn_handler_box {
    position: absolute;
    bottom: 25%;
    left: 10px;
    z-index: 100000;
}
.btn_handler_box li {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    /* margin-bottom: 10px; */
    line-height: 37px;
    font-size: 20px;
    font-weight: bold;
    /* color: #704214; */
    color: black;
}
.btn_type_box {
    position: absolute;
    top: 54px;
    right: 10px;
    z-index: 100000;
    padding: 0 5px;
    background: #ffffff;
    width: 38px;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.35);
}
.btn_type_box li {
    height: 38px;
    /* border-radius: 2px; */
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    /* margin-bottom: 10px; */
    line-height: 38px;
    font-size: 20px;
    font-weight: bold;
    /* color: #704214; */
    color: black;
    border-bottom: 1px solid rgba(225,225,225,1);
}
.btn_type_box li:last-child {
    border-bottom: none;
}
/* .positioning.active, .whiteBtn.active, .blueBtn.active {
    border: 2px solid rgb(51, 136, 255);
}
.greenBtn.active {
    border: 2px solid rgb(0, 158, 1);
}
.redBtn.active {
    border: 2px solid rgb(255, 84, 47);
} */
.positioning {
    background: url("../img/location.png") no-repeat center #ffffff;
    background-size: 21px 20px;
}
.whiteBtn {
    /* background: url("../img/icon-1.png") no-repeat -2px center #ffffff;
    background-size: 32px 32px; */
    font-size: 20px;
    font-weight: 400;
    color: rgba(25,31,37,0.65);
    line-height: 38px;
}
.whiteBtn.active {
    color: #3296FA;
}
.greenBtn {
    background: url("../img/icon-2.png") no-repeat center #ffffff;
    background-size: 17px 20px;
}
.blueBtn {
    background: url("../img/icon-3.png") no-repeat center #ffffff;
    background-size: 17px 20px;
}
.redBtn {
    background: url("../img/icon-4.png") no-repeat center #ffffff;
    background-size: 17px 20px;
}
.filterBtn {
    position: absolute;
    width: 55px;
    right: 10px;
    top: 10px;
    height: 36px;
    box-shadow: 0px 0px 14px -1px #c8c8c8;
    padding-left: 10px;
    padding-right: 5px;
    line-height: 36px;
    z-index: 100000;
    font-size: 14px;
    text-align: center;
    background: url("../img/map_near_left.png") no-repeat 5px center #ffffff;
    background-size: 14px; 
}
.filterBtn.new {
    padding-left: 5px;
    padding-right: 10px;
    background: #ffffff;
}
.filterBtn span {
    position: relative;
}
.icon-arrow {
    position: absolute;
    right: -13px;
    width: 0px;
    height: 0px;
    border-top: 5px solid grey;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 5px;
}
.custom-mask {
    background: rgba(0,0,0,.3);
    position: fixed;
    z-index: 100001;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    visibility: hidden;
    overflow: hidden;
}

.custom-mask.custom-mask--visible {
    opacity: 1;
    visibility: visible;
}

.custom-container {
    width: 100px;
    text-align: center;
    color: #333333;
    line-height: 32px;
    background: transparent;
    z-index: 100001;
    position: absolute;
    font-size: 14px;
    right: 0;
    top: 48px;
    height: auto;
    overflow: hidden;
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
}
.custom-container.custom-container--visible {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
}

.custom-container li {
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    display: none;
}

.custom-container li.active {
    display: block;
}

.custom-container li:last-child {
    border-bottom: none;
}

.detail_info {
    position: absolute;
    z-index: 100000;
    height: 185px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    display: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(245, 245, 245, 1);
    box-sizing: border-box;
}

.detail_info.active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    display: block;
}

.menu_box {
    height: 40px;
    padding: 0 15px;
}

.menu_box div.inner-menu-container {
    display: flex;
    justify-content: space-between;
    height: 42px;
    line-height: 42px;
}

.menu_box li {
    float: left;
    width: 25%;
    /* display: flex; */
    height: 100%;
    /* align-items: center; */
}

.menu_box li.new {
    width: 31%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(50, 150, 250, 1);
}

.menu_box li.new.special {
    background: rgba(50, 150, 250, 1);
}

.menu_box li p {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    /* border-right: 1px solid #ccc; */
    font-size: 18px;
    font-weight:400;
    color: rgba(50, 150, 250, 1)
}

.menu_box li.special p {
    color: rgba(255, 255, 255, 1);
}

.menu_box li:last-child p {
    border-right: none;
}

.menu_icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: -2px;
    margin-right: 2px;
}

.menu_icon.menu_icon_1 {
    background: url("../img/menu_1.png") no-repeat center;
    background-size: 12px 12px;
    vertical-align: -3px;
    margin-right: 5px;
}

.menu_icon.menu_icon_2 {
    background: url("../img/menu_2.png") no-repeat center;
    background-size: 12px 12px;
    vertical-align: -3px;
    margin-right: 5px;
}

.menu_icon.menu_icon_3 {
    background: url("../img/menu_3.png") rgba(255, 255, 255, 0.5) no-repeat center;
    width: 39px;
    height: 39px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
    background-size: 20px 19px;
    border-radius: 50%;
}

.menu_icon.menu_icon_4 {
    background: url("../img/menu_4.png") no-repeat center;
}

.menu_icon.menu_icon_5 {
    background: url("../img/menu_5.png") no-repeat center;
}

.menu_icon.menu_icon_6 {
    background: url("../img/menu_6.png") no-repeat center;
    vertical-align: -3px;
}

.menu_icon.menu_icon_7 {
    background: url("../img/menu_7.png") no-repeat center;
}

.info_tip {
    width: 100%;
    /* height: calc(100% - 40px); */
    height: calc(100% - 52px);
    box-sizing: border-box;
    /* border-bottom: 1px solid #ccc; */
    position: relative;
}

.info_box {
    top: 10px;
    position: absolute;
    margin-right: 80px;
    width: calc(100% - 80px);
    /* padding: 0 10px; */
    padding-left: 15px;
    /* border-right: 1px solid #ccc; */
    box-sizing: border-box;
}

.info_box p {
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 19px;
}

.location_box {
    top: 15px;
    width: 80px;
    position: absolute;
    right: 0;
    font-size: 15px;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
}

.location_box p {
    margin-left: 10px;
    line-height: 30px;
}

.info_box .legalEntity_info {
    font-size: 15px;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.85);
    line-height: 22px;
}

.regState {
    display: inline-block;
    padding: 0 5px;
    background: #1EB300;
    font-size: 12px;
    line-height: 16px;
    color: white;
    border-radius: 10px;
    vertical-align: 1px;
    margin-left: 10px;
}

.regState i {
    display: inline-block;
    transform: scale(0.7, 0.7);
    -webkit-transform:scale(0.7, 0.7);
    -ms-transform:scale(0.7, 0.7);
}

.floating_box {
    display: block;
    position: absolute;
    z-index: 100000;
    right: 10px;
    /* top: 30%; */
    top: 212px;
    /* background: rgba(0,0,0,.6); */
    color: white;
    line-height: 38px;
    width: 38px;
    height: 38px;
    background: url("../img/filter-icon.png") #ffffff no-repeat center;
    border-radius: 6px;
    background-size: 19px 20px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.35);
    /* padding-left: 15px;
    padding-right: 5px; */
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    /* transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s; */
}
/* .floating_box.active {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    display: none;
} */

.filter_list_box {
    background: white;
    position: fixed;
    z-index: 100001;
    top: 0;
    right: 0;
    left: 15%;
    bottom: 0;
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
}

.filter_list_box.active {
    transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

.handler_box {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 43px;
    box-sizing: border-box;
    /* border-top: 1px solid #ccc; */
    width: 100%;
    text-align: center;
    line-height: 43px;
}

.handler_box li {
    float: left;
    box-sizing: border-box;
    /* width: 50%; */
    height: 100%;
    background: #ffffff;
}

.handler_box li:first-child {
    /* border-right: 1px solid #ccc;     */
}

.handler_box li.reset_btn {
    width: 25%;
    color: rgba(50, 150, 250, 1);
    background: rgba(233, 243, 252, 1);
}

.handler_box li.confirm_btn {
    width: 75%;
    color: rgba(255, 255, 255, 1);
    background: rgba(50, 150, 250, 1);
}

.handler_box li i {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -4px;
    margin-right: 3px;
}

.handler_box .reset_btn i {
    background: url("../img/icon-button-reset.png") no-repeat center;
}

.handler_box .confirm_btn i {
    background: url("../img/icon-button-complete.png") no-repeat center;
}

.filter_type {
    padding-top: 5px;
    padding-bottom: 45px;
}

.filter_type dt {
    font-size: 14px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
}

.filter_type dt i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/icon-half-tit.png") no-repeat center;
    vertical-align: -4px;
    margin-right: 5px;
}

.filter_type .border_box {
    padding: 10px 0;
    margin: 0 10px;
    /* border-bottom: 1px solid #ccc; */
}

.filter_type dd {
    display: inline-block;
    box-sizing: border-box;
    padding: 3px;
    border: 1px solid rgba(226, 226, 226, 1);
    border-radius: 3px;
    width: 32%;
    line-height: 20px;
    margin-right: 2%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.65);
}

.filter_type .super-lable dd {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    float: left;
    height: 48px;
}

.filter_type dd:nth-child(3n+3) {
    margin-right: 0;
}

.filter_type dd.active {
    /* color: #3596FD;
    border: 1px solid #3596FD; */
    background:rgba(197, 230, 254, 1);
    opacity: 0.39990000000000003;
    border: 1px solid rgba(50, 150, 250, 1);
    color: rgba(50, 150, 250, 1);
}

.pickerView-wrap {
    z-index: 100001;
}

.large_tag_box, .small_tag_box {
    display: none;
}

.tagInfo-box {
    display: none;
}

.tagInfo {
    box-sizing: border-box;
    padding: 5px;
    /* border: 1px solid #3596FD; */
    width: 100%;
    margin-right: 2%;
    margin-bottom: 7px;
    text-align: center;
    font-size: 13px;
    color: rgba(50, 150, 250, 1);
    background:rgba(197, 230, 254, 1);
    opacity: 0.3995;
    border: 1px solid rgba(50, 150, 250, 1);
    line-height: 24px;
    margin-bottom: 15px;
}

.divid-line {
    width: 28%;
    border-bottom: 1px solid #ccc;
    margin-left: 36%;
    display: none;
}

.SUP_TAG_LINE {
    margin-top: 7px;
}

.title {
    margin: 8px 0;
}

.search-box {
    width: calc(100% - 100px);
    top: 10px;
    left: 10px;
    position: relative;
}

.iptSearch {
    width: 100%;
    top: 0;
    position: relative;
    padding-left: 10px;
    padding-right: 40px;
    background: #ffffff;
    left: 0;
    box-sizing: border-box;
}

.search-box .search-btn {
    width: 40px;
    height: 36px;
    background: url(../img/search.png) no-repeat center;
    z-index: 100000;
    position: absolute;
    top: 0;
    right: 0;
    background-size: 18px;
}