html, body {
    height: 100%;
    overflow: hidden;
}
ul, li, div, p, dl, dt, dd {
    list-style: none;
    padding: 0;
    margin: 0;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
button, input {
    position: absolute;
    left: 10px;
    z-index: 100000;
    outline: none;
    border: none;
    background: white;
    font-size: 14px;
}
.mt7 {
    margin-top: 7px;
}
.mt15 {
    margin-top: 15px;
}
.ellips {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.green-marker, .blue-marker, .red-marker {
    /* width: 32px!important; */
    width: 34px!important;
    height: 40px!important;
}
.green-marker p, .blue-marker p, .red-marker p {
    margin: 0;
    padding: 0;
    /* color: white; */
    color: rgba(255, 255, 255, 0);
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    height: 40px;
}
.green-marker {
    /* background: url("../img/icon-green.png") no-repeat center;
    background-size: 32px 39px; */
    background: url("../img/icon-5.png") no-repeat center;
    background-size: 34px 39px;
}
.blue-marker {
    /* background: url("../img/icon-blue.png") no-repeat center;
    background-size: 32px 39px; */
    background: url("../img/icon-6.png") no-repeat center;
    background-size: 34px 39px;
}
.red-marker {
    /* background: url("../img/icon-red.png") no-repeat center;
    background-size: 32px 39px; */
    background: url("../img/icon-7.png") no-repeat center;
    background-size: 34px 39px;
}
.iptSearch {
    width: calc(100% - 130px);
    padding-left: 25px;
    padding-right: 10px;
    top: 10px;
    line-height: 34px;
    height: 34px;
    box-shadow: 0px 0px 14px -1px #c8c8c8;
    background: url("../img/search.png") no-repeat 5px center #ffffff;
    font-size: 12px;
    border: none;
}